@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tinos:wght@700&display=swap');

body {
    margin: 0;
    padding: 10;
}

nav {
    text-align: center;
    background-color: #E74A2D;
    color: #F0F0F0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid;
    border-width: 2px;
    border-color: #000000;
}

p {
    text-align: center;
}

.content {
    font-family: 'Montserrat', sans-serif;
}

.page-title {
    padding: 0;
    margin: 0;
    font-family: 'Tinos', serif;
    font-size: xx-large;
    text-shadow: -2px -1px 2px rgba(0, 0, 0, 0.37);
    display: inline;
}

.gradient-title {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(221, 221, 221));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.content-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.temp {
    color: whitesmoke;
    text-shadow: -2px -1px 2px rgba(0, 0, 0, 0.37);
    font-family: 'Tinos', serif;
    border: solid;
    border-radius: 15px;
    border-color: #000000;
    border-width: 1px;
    padding: 8px;
    background-image: linear-gradient(#000000, #2c2c2ce3);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.37);
}

.outfit-img {
    border-radius: 15px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.37));
}

.grow-on-hover {
    transform: scale(1);
    transition-property: all;
    transition-duration: 0.4s;
}

.grow-on-hover:hover {
    transform: scale(1.03);
}

.outfit-size {
    height: 500px;
    width: auto;
    padding: 5px;
}

/* add mobile formatting */
@media (max-width: 400px) {
    .outfit-size {
        width: 80vw;
        height: auto;
    }
    p {
        width: 90vw;
    }
}