{% extends 'base.html' %}

{% block title %}
    What To Wear
{% endblock  %}

{% block content %}
<p>
    Give us your zip code and we'll tell you what Patagonia™ clothing you need to wear to stay comfortable today!
</p>
    <form class="zip-form" method="post">
        <label for="zipcode">Zip Code</label>
        <input class="" name="zipcode" id="zipcode" required>
        <small id="zipHelp" class="form-text text-muted">We won't store this information.</small>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    {% if temperature %}
    <div class="alert alert-secondary m-4" role="alert">Current Temp feels like: {{ temperature }}°F</div>
    {% endif %}
    
    {% if clothing %}
        <div class="content-column">
            {% for item in clothing %}
            <div class="card outfit-card grow-on-hover">
                <img class="card-img-top outfit-size" src="{{ url_for('static', filename=item['img_file']) }}" alt="">
                <div class="card-description">
                    <a class="btn btn-secondary" href="{{ item['store_link'] }}" target="_blank">View Product</a>
                </div>
            </div>
            {% endfor %}    
        </div>

    {% else %}
        <div class="content-column">
            <img class="outfit-size" src="{{ url_for('static', filename='stick-guy.png') }}" alt="placeholder-image">
        </div>
    {% endif %}

{% endblock  %}